@use'./variables';

.row{
    flex-direction: row;
    align-content: normal;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;

    .card{
        width: 100%;
        margin: 20px;
        border-radius: 6px;
        overflow: hidden;
        background: variables.$secundario-color;
        box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
        color: #fff;
        cursor: default;
        font-size: 16px;

        .card-title{
            font-size: 18px;
        }
    }
    
}